/*重置默认的外边距和内边距*/

* {
	margin: 0;
	padding: 0;
}


/*常用标签的样式重置*/

i {
	font-style: normal;
}

a {
	text-decoration: none;
}

input {
	outline: none;
	border: none;
}


/*设定html和body的宽度为100%*/

html,
body {
	width: 100%;
	font-size: 14px;
}


/*头部*/

.header {
	width: 100%;
	height: 110px;
	/*阴影*/
	box-shadow: 10px 10px 10px rgba(111, 111, 111, .5);
	position: relative;
}

.header .logo {
	display: inline-block;
	width: 160px;
	height: 50px;
	background: url(../img/icon.png) no-repeat;
	/*将京东的文字进行缩进*/
	text-indent: -100px;
	position: absolute;
	left: 20px;
	top: 20px;
}

.header .desc {
	font-size: 18px;
	line-height: 34px;
	border-left: 1px solid #ccc;
	position: absolute;
	left: 200px;
	top: 28px;
	padding-left: 20px;
	font-weight: bold;
}


/*内容模块*/

.container {
	width: 1210px;
	margin: 0 auto;
}


/*----------------------京东注册模块------------------------*/

.register {
	padding-top: 40px;
	width: 400px;
	margin: 0 auto;
}

.register-box {
	width: 100%;
	height: 52px;
	padding-bottom: 30px;
}

.register .box {
	width: 100%;
	height: 100%;
	line-height: 52px;
	padding-left: 10px;
	border: 1px solid #ccc;
	position: relative;
}


/*错误样式提示之边框*/

.register .box.error {
	border: 1px solid red;
}

.register .box input {
	font-size: 16px;
	width: 200px;
	padding-left: 20px;
}


/*表单边框输入正确提示符号*/

.register .box.right i {
	width: 20px;
	height: 20px;
	background: url(../img/right.png)no-repeat center center;
	position: absolute;
	top: 50%;
	right: 10px;
	margin-top: -10px;
}


/*表单下方输入提示信息*/

.register-box .tip {
	width: 100%;
	line-height: 30px;
	font-size: 12px;
}

.register-box .tip i {
	display: inline-block;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.register-box .tip span {
	color: #CCCCCC;
}
/*提示信息隐藏样式*/
.register-box .tip.hide{
	display: none;
}

/*提示信息默认样式*/

.register-box .tip.default i {
	background: url(../img/default.png)no-repeat center center;
	margin-left: 2px;
}

.register-box .tip.default span {
	color: #ccc;
}


/*提示信息错误样式*/

.register-box .tip.error i {
	background: url(../img/error.png) no-repeat center center;
}

.register-box .tip.error span {
	color: red;
}


/*密码强度弱*/

.register-box .tip.ruo i {
	background: url(../img/ruo.png) no-repeat center center;
}


/*密码强度中*/

.register-box .tip.zhong i {
	background: url(../img/zhong.png) no-repeat center center;
}


/*密码强度强*/

.register-box .tip.qiang i {
	background: url(../img/qiang.png) no-repeat center center;
}


/*京东用户注册协议*/

.register-box.xieyi {
	width: 100%;
	height: 20px;
	padding-bottom: 30px;
}

.register-box.xieyi .box {
	line-height: normal;
	padding: 0;
	border: none;
}

.register-box.xieyi .box.error {
	line-height: normal;
	padding: 0;
	border: 1px solid red;
}

.register-box.xieyi .box input {
	width: auto;
	vertical-align: middle;
}
/*注册按钮*/
.register button{
	width: 100%;
	height: 40px;
	font:bold 18px/40px "宋体";
	color: white;
	background-color: darkred;
	outline-color: white;
}
/*验证码*/
.register-box.yzm{
	position: relative;
}
.register-box.yzm .box{
	width: 250px;
	position: static;
}
.register-box.yzm .box input{
	width: 100px;
}
.register-box.yzm .box a{
	position: absolute;
	width: 130px;
	background-color: #000;
	font:bold 22px/54px "微软雅黑";
	text-align: center;
	right: 0;
	color: #fff;;
}
.register-box.yzm .box a:active{
	color:#fff ;
}